<h1>Welcome#index</h1>
<%if current_user%>
	<%= current_user.username%>
<%end%>

<p>
	<%if Apartment::Tenant.current%>
		<%=Apartment::Tenant.current%>
	<%end%>
</p>

<p>Find me in app/views/welcome/index.html.erb</p>
<li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>  

